<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Operation with PostgreSQL</title>
</head>

<body>
    <center>
        <H1>How to create CRUD Operation with PostgreSQL</H1>
        <h3>Django Web Tutorials</h3>
        <hr />
        <a href="{% url 'Insertemp' %}">Create new employee</a>
        <table border="1">
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Occupation</th>
                <th>Salary</th>
                <th>Gender</th>
            </tr>
            {% for result in data%}
            <tr>
                <td>{{result.id}}</td>
                <td>{{result.empname}}</td>
                <td>{{result.email}}</td>
                <td>{{result.occupation}}</td>
                <td>{{result.salary}}</td>
                <td>{{result.gender}}</td>
                <td><a href="Edit/{{result.id}}">Edit</a></td>
                <td><a href="Delete/{{result.id}}" onclick="return confirm('Are you sure want to delete?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>

</html>